$green: rgb(149, 188, 60);
$yellow: rgb(242, 241, 141);
$darkGreen: rgba(95, 105, 61, 0.8);
$grey: rgb(227, 227, 227);

#bg-img {
  position: fixed;
  z-index: -99;
  opacity: 0.9;
  min-height: 100%;
  min-width: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $grey;
  font-size: 16px;
}

.jumbotron {
  text-align: center;
  background-color: $darkGreen;
  font-family: 'Cherry Cream Soda', cursive;
  color: $grey;
}

.sorts {
  background-color: $darkGreen;
  padding: 20px 20px;
}

.well {
  background-color: $darkGreen;
}

.btn-success {
  background: $green;
  border: 0;
}

.btn-success:hover {
  background: $grey;
  border: 0;
}

.btn-success:focus {
  background: $green;
  border: 0;
}

.btn-warning {
  background: $yellow;
  color: grey;
  border: 0;
}

.btn-warning:hover {
  background: $grey;
  color: grey;
  border: 0;
}

.btn-warning:focus {
  background: $yellow;
  color: grey;
  border: 0;
}

.animal-photo {
  width: 200px;
  height: 150px;
  display: inline-block;
  position: relative;
  margin-left: 15%;
  border: 3px solid $grey;
}

.animal {
  margin-top: 25px;
  .btn {
    margin-left: 15%;
  }
}

h2 {
  text-align: center;
  font-family: 'Cherry Cream Soda', cursive;
  font-size: 45px;
  color: $grey;
}
